header {
margin: 0 auto;    
text-align: center;
border: 5px black solid;
background-color: chartreuse;
padding: 10px;

}

.container{
border: 5px black double;

}

.wins {


}

.losses {

}

.guessesLeft {

}

.yourGuess{

}